@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;300;400;500&display=swap');

/* reset */
fieldset, h1, input, button, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    /*outline: 0;*/
}

img {
    -webkit-user-drag: none;
}

html {
    height: 100vh;
    width: 100vw;
}

body, * {
    --navigationWidth: 260px;

    --lightGrey: #f1f1f1;
    --lightMedGrey: #c2c2c2;
    --mediumGrey: #6e6d7a;
    --highlightedRed: #E8505B;
    /*--highlightedRed: #E1332D;*/
    --highlightedRedHover: #af424d;
    /*--chimneyGrey: #272f38;*/
    --chimneyGrey: #323a43;
    --chimneyGreyHover: #1e262f;
    --modalBackgroundColor: rgba(1, 1, 1, 0.2);
    --successGreen: #5DDA5E;

    /*font-family: 'Noto Sans', sans-serif;*/
    font-size: 16px;
    /*overflow: hidden;*/
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box
}


/*  APP CSS  */
.App {
    display: flex;
    flex-direction: row;
}
