.SignIn input:-webkit-autofill,
.SignIn input:-webkit-autofill:focus,
.SignIn input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--inputColor) inset;
    -moz-box-shadow: 0 0 0px 1000px var(--inputColor) inset;
    -o-box-shadow: 0 0 0px 1000px var(--inputColor) inset;
    -webkit-text-fill-color: var(--highlightedRed);
}

.SignIn input:-webkit-autofill {
    -webkit-text-fill-color: var(--lightMedGrey);
}

@keyframes fade-slide-in-left {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.ErrMsg {
    font-size: 0.8rem;
    position: absolute;
    margin-top: -1.7rem;
    display: block;
    color: #E5071F;
    right: 1.3rem;
    z-index: 1000;
}

.ErrMsgSubmit {
    font-size: 0.8rem;
    position: absolute;
    color: #E5071F;
    margin-top: -1.3rem;
}

.Form {
    position: relative;
    padding: 1rem;
}

.Form button {
    width: 100%;
    margin-top: 2rem;
    cursor: pointer;
    color: white;
    border-radius: 6px;
    padding: 0.8em 1.5rem;
    font-weight: bold;
    background-color: var(--highlightedRed);
    color: white;
    transition: 0.35s;
    box-shadow: 0px 4px var(--highlightedRedHover);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
}

.Form button:hover {
    background-color: var(--highlightedRedHover);

}

.EmailIcon {
    transition: 0.5s;
    background-image: url("../images/email.svg");
    height: 1rem;
    width: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.PasswordIcon {
    transition: 0.5s;
    background-image: url("../images/lock2.svg");
    height: 1rem;
    width: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.EmailLabel {
    display: flex;
    align-items: center;
    border-bottom: 0.09em solid var(--lightMedGrey);
    margin-bottom: 1.5rem;
    position: relative;
    transition: 0.5s;
}

.EmailLabel:focus-within {
    border-bottom: 0.09em solid var(--highlightedRed);
    animation: border-expand 0.5s ease-in-out;
}

.EmailLabel:focus-within .EmailIcon {
    transition: 0.5s;
    background-image: url("../images/email-red.svg");
}

.EmailLabel:active .EmailIcon {
    transition: 0.5s;
    background-image: url("../images/email-red.svg");
}

.EmailLabel input:focus {
    color: var(--highlightedRed);
}

.PasswordLabel {
    display: flex;
    align-items: center;
    border-bottom: 0.09em solid var(--lightMedGrey);
    margin-bottom: 1.5rem;
    position: relative;
    transition: 0.5s;
}

.PasswordLabel input:focus {
    color: var(--highlightedRed);
}

.PasswordLabel:focus-within .PasswordIcon {
    transition: 0.5s;
    background-image: url("../images/lock2-red.svg");
}

.PasswordLabel:active .PasswordIcon {
    transition: 0.5s;
    background-image: url("../images/lock2-red.svg");
}

.PasswordLabel:focus-within {
    border-bottom: 0.09em solid var(--highlightedRed);
    animation: border-expand 0.5s ease-in-out;
}

.SignIn {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #ED4264; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.SignIn ::placeholder {
    color: #dbdbdb;
}

.SignIn label {
    font-family: 'Fira Sans Condensed', sans-serif;
}

.SignIn input, .SignIn p, .SignIn a {
    font-family: 'Fira Sans Condensed', sans-serif;
}

.SignIn a {
    font-weight: bold;
}

.SignIn h1 {
    font-size: 1.75rem;
    color: var(--mediumGrey);
    margin: 0 0 1.55rem 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.SignIn input {
    display: block;
    font-size: 1rem;
    background-color: var(--inputColor);
    position: relative;
    border-radius: 1rem;
    padding: 0.65rem;
    outline: none;
    color: var(--lightMedGrey);
}

.FormContainer {
    display: flex;
    flex-direction: row;
    width: 420px;
    box-sizing: border-box;
    box-shadow: 2px 2px 7px 2px rgba(174, 178, 183, 0.2);
    -webkit-box-shadow: 2px 2px 7px 2px rgba(174, 178, 183, 0.2);
    -moz-box-shadow: 2px 2px 7px 2px rgba(174, 178, 183, 0.2);
    -o-box-shadow: 2px 2px 7px 2px rgba(174, 178, 183, 0.2);
    border-radius: 10px;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 125px 0;
}

@media only screen and (max-width: 800px) {
    .FormContainer {
        /*margin: 0em 1rem;*/
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }
}
