.Navigation {
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
    /*background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);*/
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    /*background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);*/
    /*position: fixed;*/
    min-width: var(--navigationWidth);
    max-width: var(--navigationWidth);
    height: 100vh;
}

.NavigationList {
    margin: 25px 40px 0 0;
    padding: 0;
}

.NavigationListItem > a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.95rem;
    font-family: 'Fira Sans Condensed', 'sans-serif';
    font-weight: 400;
    padding: 10px 35px;
    opacity: 0.65;
    margin: 10px 0;
    transition: 0.65s;
}

.NavigationListItem > a:hover {
    opacity: 1;
}

.NavigationListItem__Icon {
    margin-right: 15px;
    transform: scale(0.85);
}
