.TopBar {
    background-color: #ececec;
    padding: 20px;
    width: calc(100% - var(--navigationWidth));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
}
